button.btn {
    cursor: pointer;
    padding: .5rem;
    border-radius: 10%;
}


button.btn-safe-click {
    background-color: var(--bg-safe-click);
}

button.btn-mine-exterminator {
    border: none;
}

button.btn-mega-hint {
    background-color: var(--bg-mega-hint);
}