* {
    box-sizing: border-box;
    text-align: center;
    background: var(--bg-clr);
}

body {
    background-color: var(--bg-clr-dark-mode);
}

:root {
    --bg-clr: #bdbdbd;
    --hint-clr: yellow;
    --bg-edit-btn: #00a9e9;
    --bg-clr-dark-mode: black;
}

.dark-mode {
    --bg-clr: #747474;
}

section.game-container {
    background-color: var(--bg-clr);
    width: min(750px, 50%);
    margin: auto;
}

main {
    min-height: 90vh;
}

table.game-board {
    margin: auto;
    border-collapse: collapse;
}

.game-board td {
    /* padding: 1rem; */
    border: 3px solid black;
    height: 55px;
    width: 55px;

}

.hidden-cell {
    opacity: 0;
}

header {
    height: 5vh;
}

footer {
    height: 5vh; 
    font-size: 2rem;
}

.btn {
    cursor: pointer;
    padding: .5rem;
    border-radius: 10%;
}

.highlight-hint {
    background-color: var(--hint-clr);
}

.leaderboard-container table {
    width: 50%;
    margin: auto;
    border: 2px solid black;
}

.edit-mode {
    background-color: var(--bg-edit-btn);
}