* {
    box-sizing: border-box;
    text-align: center;
    background: var(--bg-clr);
}

:root {
    --bg-clr: #bdbdbd;
}

section.game-container {
    background-color: var(--bg-clr);
    height: 50vh;
    width: min(750px, 50%);
    margin: auto;
}

main {
    min-height: 90vh;
}

table.game-board {
    margin: auto auto;
    margin-top: auto;
    table-layout: fixed;
    /* width: 100%; */
    /* height: 100%; */
    border-collapse: collapse;
}

.game-board td {
    /* padding: 1rem; */
    border: 3px solid black;
    height: 55px;
    width: 55px;

}

.hidden-cell {
    opacity: 0;
}

header {
    height: 5vh;
}

footer {
    height: 5vh; 
    font-size: 2rem;
}
