* {
    box-sizing: border-box;
    text-align: center;
    background: var(--bg-clr);
}

:root {
    --bg-clr: #bdbdbd;
    --hint-clr: yellow;
}

table.game-board {
    margin: auto;
    border-collapse: collapse;
}

.game-board td {
    /* padding: 1rem; */
    border: 3px solid black;
    height: 55px;
    width: 55px;

}

.hidden-cell {
    opacity: 0;
}

.highlight-hint {
    background-color: var(--hint-clr);
}

.leaderboard-container table {
    width: 50%;
    margin: auto;
    border: 2px solid black;
}
