* {
    box-sizing: border-box;
    text-align: center;
}

:root {
    --bg-clr: gray;
}

div.game-container {
    background-color: var(--bg-clr);
    width: min-content;
    margin: auto;
}

main {
    min-height: 90vh;
}

table.game-board {
    border-collapse: collapse;
}

.game-container td {
    padding: 1rem;
    border: 3px solid black;
}

.hidden-cell {
    opacity: 0;
}

header {
    height: 5vh;
}

footer {
    height: 5vh; 
    font-size: 2rem;
}